@tailwind base;
@tailwind components;
@tailwind utilities;
.perspective {
  perspective: 1000px;
}

.transform-style-preserve-3d {
  transform-style: preserve-3d;
}

.backface-hidden {
  backface-visibility: hidden;
}

.rotate-y-180 {
  transform: rotateY(180deg);
}
/* RESET para prevenir linhas indesejadas entre seções com SVG */
html, body {
  margin: 0;
  padding: 0;
  border: 0;
  overflow-x: hidden;
  backface-visibility: hidden;
  -webkit-font-smoothing: antialiased;
  transform: translateZ(0); /* força renderização em camada */
}

/* Garante que SVGs não deixem espaços extras */
svg {
  display: block;
  line-height: 0;
}
